
body {
    font-family: Verdana,Arial,sans-serif;
    background-blend-mode: initial;
    background-image: url('/static/images/backsplash_60.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.inner {
transform: scale(1.3) rotate(3deg);
}

h1 {
 font-size: 4.2em;
 margin: 10px 20 5px 5;
 color: black
    }

h2 {
 font-size: 2.2em;
 margin: 20px 10 0px 5;
 color: black
   }

h3 {
 font-size: 1.2em;
 margin: 10px 20 5px 5;
 color: black
    }

h5 {
  font-size: 2.5em;
  margin: 2px 5 0px 5;
  text-align: center;
  color: black
      }

.center {
 position: absolute;
 left:0;
 top: 50%;
 width: 100%;
 text-align: center;
 font-size: 24px;
}

.space {
 margin-bottom: 10 px;
}

.container {
    position: relative;
}

.wrapper {
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10px;
}

.span {
 color: rgb(4, 61, 4);
 font-size: 48px;
}


/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: auto;
  padding: 10px;
  background-color: rgba(89, 88, 88, 0.3);
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: auto;
  padding: 8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a:link, a:visited {
  color: darkgreen ;
  text-shadow:1px 1px #808000;
  padding: 14px 0px;
  text-align: left; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: red ;
}